body{
    display: flex;
    align-items: centre;
    justify-content: center;
}
.main{
    width: 510px;
    height: 500px;
    border-style: dotted;
    border-width: 1px;
    border-color:  black;
    background-color: rgb(219, 219, 56);
    display: flex;
}
.l{
    display: block;
    margin: 40px 16px 0px 16px;
}
.c{
    width: 140px;
    background-color: black;
    background-image: linear-gradient(to right,white 87%,rgba(0, 0, 0, 0)87.5%);
    font-size: 18px;
    color: blue;
    margin-bottom: 5px;
    height: 25px;
    padding: 5px 0px 2px 8px;
}
.r{
    margin-left: 12px;
}
h1,p{
    color: purple;
}